java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/inventari/comerc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:comerc="http://webservices.neru.net.bcn.es/inventari/comerc/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/inventari/comerc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.neru.net.bcn.es/inventari/comerc" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/inventari/comerc/to" schemaLocation="../../xsd/comerc-schema.xsd" />
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateComercInput">
		<wsdl:part name="CreateComercRequest" element="comerc:createComercRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateComercOutput">
		<wsdl:part name="CreateComercResponse" element="comerc:createComercResponse"></wsdl:part>
	</wsdl:message>
    
	<wsdl:message name="ReadComercInput">
		<wsdl:part name="ReadComercRequest" element="comerc:readComercRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadComercOutput">
		<wsdl:part name="ReadComercResponse" element="comerc:readComercResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="UpdateComercInput">
		<wsdl:part name="UpdateComercRequest" element="comerc:updateComercRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateComercOutput">
		<wsdl:part name="UpdateComercResponse" element="comerc:updateComercResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeleteComercInput">
		<wsdl:part name="DeleteComercRequest" element="comerc:deleteComercRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteComercOutput">
		<wsdl:part name="DeleteComercResponse" element="comerc:deleteComercResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="ComercResource">
	<wsdl:operation name="CreateComerc">
			<wsdl:input message="tns:CreateComercInput" />
			<wsdl:output message="tns:CreateComercOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadComerc">
			<wsdl:input message="tns:ReadComercInput" />
			<wsdl:output message="tns:ReadComercOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdateComerc">
			<wsdl:input message="tns:UpdateComercInput" />
			<wsdl:output message="tns:UpdateComercOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeleteComerc">
			<wsdl:input message="tns:DeleteComercInput" />
			<wsdl:output message="tns:DeleteComercOutput" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ComercResourceSoapBinding" type="tns:ComercResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateComerc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadComerc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateComerc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteComerc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ComercResourceService">
		<wsdl:documentation>Comerc service</wsdl:documentation>
		<wsdl:port name="ComercResourceSoapPort" binding="tns:ComercResourceSoapBinding" >
			<soap:address location="/comercService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>