java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/inventari/instalacio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:instalacio="http://webservices.neru.net.bcn.es/inventari/instalacio/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/inventari/instalacio" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservices.neru.net.bcn.es/inventari/instalacio" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/inventari/instalacio/to" schemaLocation="../../xsd/instalacio-schema.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateInstalacioInput">
		<wsdl:part name="CreateInstalacioRequest" element="instalacio:createInstalacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateInstalacioOutput">
		<wsdl:part name="CreateInstalacioResponse" element="instalacio:createInstalacioResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ReadInstalacioInput">
		<wsdl:part name="ReadInstalacioRequest" element="instalacio:readInstalacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadInstalacioOutput">
		<wsdl:part name="ReadInstalacioResponse" element="instalacio:readInstalacioResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="UpdateInstalacioInput">
		<wsdl:part name="UpdateInstalacioRequest" element="instalacio:updateInstalacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateInstalacioOutput">
		<wsdl:part name="UpdateInstalacioResponse" element="instalacio:updateInstalacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeleteInstalacioInput">
		<wsdl:part name="DeleteInstalacioRequest" element="instalacio:deleteInstalacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteInstalacioOutput">
		<wsdl:part name="DeleteInstalacioResponse" element="instalacio:deleteInstalacioResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="InstalacioResource">
		<wsdl:operation name="CreateInstalacio">
			<wsdl:input message="tns:CreateInstalacioInput" />
			<wsdl:output message="tns:CreateInstalacioOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadInstalacio">
			<wsdl:input message="tns:ReadInstalacioInput" />
			<wsdl:output message="tns:ReadInstalacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdateInstalacio">
			<wsdl:input message="tns:UpdateInstalacioInput" />
			<wsdl:output message="tns:UpdateInstalacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeleteInstalacio">
			<wsdl:input message="tns:DeleteInstalacioInput" />
			<wsdl:output message="tns:DeleteInstalacioOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InstalacioResourceSoapBinding" type="tns:InstalacioResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateInstalacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadInstalacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateInstalacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteInstalacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="InstalacioResourceService">
		<wsdl:documentation>Instalacio service</wsdl:documentation>
		<wsdl:port name="InstalacioResourceSoapPort" binding="tns:InstalacioResourceSoapBinding">
			<soap:address location="/instalacioService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>