java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/inventari/mobiliarifisic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:mobiliariFisic="http://webservices.neru.net.bcn.es/inventari/mobiliarifisic/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/inventari/mobiliarifisic" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservices.neru.net.bcn.es/inventari/mobiliarifisic" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/inventari/mobiliarifisic/to" schemaLocation="../../xsd/mobiliarifisic-schema.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateMobiliariFisicInput">
		<wsdl:part name="CreateMobiliariFisicRequest" element="mobiliariFisic:createMobiliariFisicRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateMobiliariFisicOutput">
		<wsdl:part name="CreateMobiliariFisicResponse" element="mobiliariFisic:createMobiliariFisicResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ReadMobiliariFisicInput">
		<wsdl:part name="ReadMobiliariFisicRequest" element="mobiliariFisic:readMobiliariFisicRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadMobiliariFisicOutput">
		<wsdl:part name="ReadMobiliariFisicResponse" element="mobiliariFisic:readMobiliariFisicResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="UpdateMobiliariFisicInput">
		<wsdl:part name="UpdateMobiliariFisicRequest" element="mobiliariFisic:updateMobiliariFisicRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateMobiliariFisicOutput">
		<wsdl:part name="UpdateMobiliariFisicResponse" element="mobiliariFisic:updateMobiliariFisicResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeleteMobiliariFisicInput">
		<wsdl:part name="DeleteMobiliariFisicRequest" element="mobiliariFisic:deleteMobiliariFisicRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteMobiliariFisicOutput">
		<wsdl:part name="DeleteMobiliariFisicResponse" element="mobiliariFisic:deleteMobiliariFisicResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="MobiliariFisicResource">
		<wsdl:operation name="CreateMobiliariFisic">
			<wsdl:input message="tns:CreateMobiliariFisicInput" />
			<wsdl:output message="tns:CreateMobiliariFisicOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadMobiliariFisic">
			<wsdl:input message="tns:ReadMobiliariFisicInput" />
			<wsdl:output message="tns:ReadMobiliariFisicOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdateMobiliariFisic">
			<wsdl:input message="tns:UpdateMobiliariFisicInput" />
			<wsdl:output message="tns:UpdateMobiliariFisicOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeleteMobiliariFisic">
			<wsdl:input message="tns:DeleteMobiliariFisicInput" />
			<wsdl:output message="tns:DeleteMobiliariFisicOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MobiliariFisicResourceSoapBinding" type="tns:MobiliariFisicResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateMobiliariFisic">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadMobiliariFisic">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMobiliariFisic">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteMobiliariFisic">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MobiliariFisicResourceService">
		<wsdl:documentation>Mobiliari Fisic service</wsdl:documentation>
		<wsdl:port name="MobiliariFisicResourceSoapPort" binding="tns:MobiliariFisicResourceSoapBinding">
			<soap:address location="/mobiliariFisicService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>