java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/inventari/recursmaterial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:recursMaterial="http://webservices.neru.net.bcn.es/inventari/recursmaterial/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/inventari/recursmaterial" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservices.neru.net.bcn.es/inventari/recursmaterial" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/inventari/recursmaterial/to" schemaLocation="../../xsd/recursmaterial-schema.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateRecursMaterialInput">
		<wsdl:part name="CreateRecursMaterialRequest" element="recursMaterial:createRecursMaterialRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRecursMaterialOutput">
		<wsdl:part name="CreateRecursMaterialResponse" element="recursMaterial:createRecursMaterialResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ReadRecursMaterialInput">
		<wsdl:part name="ReadRecursMaterialRequest" element="recursMaterial:readRecursMaterialRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadRecursMaterialOutput">
		<wsdl:part name="ReadRecursMaterialResponse" element="recursMaterial:readRecursMaterialResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="UpdateRecursMaterialInput">
		<wsdl:part name="UpdateRecursMaterialRequest" element="recursMaterial:updateRecursMaterialRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateRecursMaterialOutput">
		<wsdl:part name="UpdateRecursMaterialResponse" element="recursMaterial:updateRecursMaterialResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeleteRecursMaterialInput">
		<wsdl:part name="DeleteRecursMaterialRequest" element="recursMaterial:deleteRecursMaterialRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteRecursMaterialOutput">
		<wsdl:part name="DeleteRecursMaterialResponse" element="recursMaterial:deleteRecursMaterialResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="RecursMaterialResource">
		<wsdl:operation name="CreateRecursMaterial">
			<wsdl:input message="tns:CreateRecursMaterialInput" />
			<wsdl:output message="tns:CreateRecursMaterialOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadRecursMaterial">
			<wsdl:input message="tns:ReadRecursMaterialInput" />
			<wsdl:output message="tns:ReadRecursMaterialOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdateRecursMaterial">
			<wsdl:input message="tns:UpdateRecursMaterialInput" />
			<wsdl:output message="tns:UpdateRecursMaterialOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeleteRecursMaterial">
			<wsdl:input message="tns:DeleteRecursMaterialInput" />
			<wsdl:output message="tns:DeleteRecursMaterialOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="RecursMaterialResourceSoapBinding" type="tns:RecursMaterialResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateRecursMaterial">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadRecursMaterial">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateRecursMaterial">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteRecursMaterial">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="RecursMaterialResourceService">
		<wsdl:documentation>Recurs Material service</wsdl:documentation>
		<wsdl:port name="RecursMaterialResourceSoapPort" binding="tns:RecursMaterialResourceSoapBinding">
			<soap:address location="/recursMaterialService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>