java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/inventari/ubicacio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ubicacio="http://webservices.neru.net.bcn.es/inventari/ubicacio/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/inventari/ubicacio" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.neru.net.bcn.es/inventari/ubicacio" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/inventari/ubicacio/to" schemaLocation="../../xsd/ubicacio-schema.xsd" />
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateUbicacioInput">
		<wsdl:part name="CreateUbicacioRequest" element="ubicacio:createUbicacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateUbicacioOutput">
		<wsdl:part name="CreateUbicacioResponse" element="ubicacio:createUbicacioResponse"></wsdl:part>
	</wsdl:message>
    
	<wsdl:message name="ReadUbicacioInput">
		<wsdl:part name="ReadUbicacioRequest" element="ubicacio:readUbicacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadUbicacioOutput">
		<wsdl:part name="ReadUbicacioResponse" element="ubicacio:readUbicacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="UpdateUbicacioInput">
		<wsdl:part name="UpdateUbicacioRequest" element="ubicacio:updateUbicacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateUbicacioOutput">
		<wsdl:part name="UpdateUbicacioResponse" element="ubicacio:updateUbicacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeleteUbicacioInput">
		<wsdl:part name="DeleteUbicacioRequest" element="ubicacio:deleteUbicacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteUbicacioOutput">
		<wsdl:part name="DeleteUbicacioResponse" element="ubicacio:deleteUbicacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="UbicacioResource">
	<wsdl:operation name="CreateUbicacio">
			<wsdl:input message="tns:CreateUbicacioInput" />
			<wsdl:output message="tns:CreateUbicacioOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadUbicacio">
			<wsdl:input message="tns:ReadUbicacioInput" />
			<wsdl:output message="tns:ReadUbicacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdateUbicacio">
			<wsdl:input message="tns:UpdateUbicacioInput" />
			<wsdl:output message="tns:UpdateUbicacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeleteUbicacio">
			<wsdl:input message="tns:DeleteUbicacioInput" />
			<wsdl:output message="tns:DeleteUbicacioOutput" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="UbicacioResourceSoapBinding" type="tns:UbicacioResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateUbicacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadUbicacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateUbicacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteUbicacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="UbicacioResourceService">
		<wsdl:documentation>Ubicacio service</wsdl:documentation>
		<wsdl:port name="UbicacioResourceSoapPort" binding="tns:UbicacioResourceSoapBinding" >
			<soap:address location="/ubicacioService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>