java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/execucio/esdeveniment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:esdeveniment="http://webservices.neru.net.bcn.es/execucio/esdeveniment/to"
	xmlns:p="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservices.neru.net.bcn.es/execucio/esdeveniment" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="http://webservices.neru.net.bcn.es/execucio/esdeveniment" 
	>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/execucio/esdeveniment/to" schemaLocation="../../xsd/esdeveniment-schema.xsd" />
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateEsdevenimentDAnullacioInput">
		<wsdl:part name="CreateEsdevenimentDAnullacioRequest" element="esdeveniment:createEsdevenimentDAnullacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDAnullacioOutput">
		<wsdl:part name="CreateEsdevenimentDAnullacioResponse" element="esdeveniment:createEsdevenimentDAnullacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentDAnullacioItinerariInput">
		<wsdl:part name="CreateEsdevenimentDAnullacioItinerariRequest" element="esdeveniment:createEsdevenimentDAnullacioItinerariRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDAnullacioItinerariOutput">
		<wsdl:part name="CreateEsdevenimentDAnullacioItinerariResponse" element="esdeveniment:createEsdevenimentDAnullacioItinerariResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentDAPSInput">
		<wsdl:part name="CreateEsdevenimentDAPSRequest" element="esdeveniment:createEsdevenimentDAPSRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDAPSOutput">
		<wsdl:part name="CreateEsdevenimentDAPSResponse" element="esdeveniment:createEsdevenimentDAPSResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentDConcrecioInput">
		<wsdl:part name="CreateEsdevenimentDConcrecioRequest" element="esdeveniment:createEsdevenimentDConcrecioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDConcrecioOutput">
		<wsdl:part name="CreateEsdevenimentDConcrecioResponse" element="esdeveniment:createEsdevenimentDConcrecioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentDDescarreguesInput">
		<wsdl:part name="CreateEsdevenimentDDescarreguesRequest" element="esdeveniment:createEsdevenimentDDescarreguesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDDescarreguesOutput">
		<wsdl:part name="CreateEsdevenimentDDescarreguesResponse" element="esdeveniment:createEsdevenimentDDescarreguesResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentDServeiInput">
		<wsdl:part name="CreateEsdevenimentDServeiRequest" element="esdeveniment:createEsdevenimentDServeiRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentDServeiOutput">
		<wsdl:part name="CreateEsdevenimentDServeiResponse" element="esdeveniment:createEsdevenimentDServeiResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="CreateEsdevenimentInformatiuInput">
		<wsdl:part name="CreateEsdevenimentInformatiuRequest" element="esdeveniment:createEsdevenimentInformatiuRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateEsdevenimentInformatiuOutput">
		<wsdl:part name="CreateEsdevenimentInformatiuResponse" element="esdeveniment:createEsdevenimentInformatiuResponse"></wsdl:part>
	</wsdl:message>
    
	<wsdl:portType name="EsdevenimentResource">
		<wsdl:operation name="CreateEsdevenimentDAnullacio">
			<wsdl:input message="tns:CreateEsdevenimentDAnullacioInput" />
			<wsdl:output message="tns:CreateEsdevenimentDAnullacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDAnullacioItinerari">
			<wsdl:input message="tns:CreateEsdevenimentDAnullacioItinerariInput" />
			<wsdl:output message="tns:CreateEsdevenimentDAnullacioItinerariOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDAPS">
			<wsdl:input message="tns:CreateEsdevenimentDAPSInput" />
			<wsdl:output message="tns:CreateEsdevenimentDAPSOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDConcrecio">
			<wsdl:input message="tns:CreateEsdevenimentDConcrecioInput" />
			<wsdl:output message="tns:CreateEsdevenimentDConcrecioOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDDescarregues">
			<wsdl:input message="tns:CreateEsdevenimentDDescarreguesInput" />
			<wsdl:output message="tns:CreateEsdevenimentDDescarreguesOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDServei">
			<wsdl:input message="tns:CreateEsdevenimentDServeiInput" />
			<wsdl:output message="tns:CreateEsdevenimentDServeiOutput" />
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentInformatiu">
			<wsdl:input message="tns:CreateEsdevenimentInformatiuInput" />
			<wsdl:output message="tns:CreateEsdevenimentInformatiuOutput" />
		</wsdl:operation>
			</wsdl:portType>
	
	<wsdl:binding name="EsdevenimentResourceSoapBinding" type="tns:EsdevenimentResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateEsdevenimentDAnullacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDAnullacioItinerari">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDAPS">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDConcrecio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDDescarregues">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentDServei">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateEsdevenimentInformatiu">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="EsdevenimentResourceService">
		<wsdl:documentation>Esdeveniment service</wsdl:documentation>
		<wsdl:port name="EsdevenimentResourceSoapPort" binding="tns:EsdevenimentResourceSoapBinding" >
			<soap:address location="/esdevenimentService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>