java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/xsd/inventari/ProInstalacio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://webservices.neru.net.bcn.es/inventari/instalacio/to">
	<xs:complexType name="ProInstalacioTO">
		<xs:sequence>
			<xs:element name="codiServei" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="dataFi" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="dataInici" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="percentatgeUs" type="xs:decimal" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
