java/workareas/workspace-imi/fmwinventari-develop/apivigiainventariWeb/src/main/resources/soap/wsdl/itinerari/planificacio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:planificacio="http://webservices.neru.net.bcn.es/itinerari/planificacio/to"
	xmlns:tns="http://webservices.neru.net.bcn.es/itinerari/planificacio" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.neru.net.bcn.es/itinerari/planificacio" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://webservices.neru.net.bcn.es/itinerari/planificacio/to" schemaLocation="../../xsd/planificacio-schema.xsd" />
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="CreatePlanificacioInput">
		<wsdl:part name="CreatePlanificacioRequest" element="planificacio:createPlanificacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreatePlanificacioOutput">
		<wsdl:part name="CreatePlanificacioResponse" element="planificacio:createPlanificacioResponse"></wsdl:part>
	</wsdl:message>
    
	<wsdl:message name="ReadPlanificacioInput">
		<wsdl:part name="ReadPlanificacioRequest" element="planificacio:readPlanificacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadPlanificacioOutput">
		<wsdl:part name="ReadPlanificacioResponse" element="planificacio:readPlanificacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="UpdatePlanificacioInput">
		<wsdl:part name="UpdatePlanificacioRequest" element="planificacio:updatePlanificacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdatePlanificacioOutput">
		<wsdl:part name="UpdatePlanificacioResponse" element="planificacio:updatePlanificacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeletePlanificacioInput">
		<wsdl:part name="DeletePlanificacioRequest" element="planificacio:deletePlanificacioRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeletePlanificacioOutput">
		<wsdl:part name="DeletePlanificacioResponse" element="planificacio:deletePlanificacioResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="PlanificacioResource">
	<wsdl:operation name="CreatePlanificacio">
			<wsdl:input message="tns:CreatePlanificacioInput" />
			<wsdl:output message="tns:CreatePlanificacioOutput" />
		</wsdl:operation>		<wsdl:operation name="ReadPlanificacio">
			<wsdl:input message="tns:ReadPlanificacioInput" />
			<wsdl:output message="tns:ReadPlanificacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="UpdatePlanificacio">
			<wsdl:input message="tns:UpdatePlanificacioInput" />
			<wsdl:output message="tns:UpdatePlanificacioOutput" />
		</wsdl:operation>
		<wsdl:operation name="DeletePlanificacio">
			<wsdl:input message="tns:DeletePlanificacioInput" />
			<wsdl:output message="tns:DeletePlanificacioOutput" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PlanificacioResourceSoapBinding" type="tns:PlanificacioResource">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreatePlanificacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadPlanificacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePlanificacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeletePlanificacio">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PlanificacioResourceService">
		<wsdl:documentation>Planificacio service</wsdl:documentation>
		<wsdl:port name="PlanificacioResourceSoapPort" binding="tns:PlanificacioResourceSoapBinding" >
			<soap:address location="/planificacioService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>